<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/stylesheet/style.css">
    <title>Altify</title>
</head>
<body>
    <nav>
           <div class="logo-wrapper">
              <img  class="logo"src="/images/logo.png" class="logo">
              <span class="logo-text" > <a href="/succes">Altify</a></span>
           </div>

           <div class="nav-links">
            <a href="/auth">Services</a>
            <a href="https://discord.gg/altify">Discord</a>
            <a href="/auth">Legal</a>
           </div>

           <div class="login-button">
            <button class="lgn-btn"><a href="/auth">Login</a></button>
           </div>
    </nav>


    <div class="hero-wrapper">

    <div class="first-hero">
     <div class="hero-text-wrapper">
        <h1>Introducing Altify</h1>
        <p> At Altify, we not only provide you various services cheaper than anywhere else,<br> we also sell methods that we use, <br>so you can either buy everything yourself or open a service of your own!</p>
     </div>
     <div class="hero-btn-wrapper">
        <button class="lgn-btnn"><a href="/auth">Services</a></button>
        <button class="dark-btn"><a href="https://discord.gg/altify">Discord Server</a></button>
     </div>
    </div>
      
    <div class="hero-images">
        
        <img src="/images/heroimage.png" >
    </div>

    </div>
   
    
   
</body>
</html>