
<div class="loginned">
    <div class="avatar">
        <img id="user-avatar" src="https://cdn.discordapp.com/avatars/<%= user.discordId %>/<%= user.avatar %>.png" alt="<%= user.username %> Avatar">
    </div>
    <div class="user-info">
        <span id="user-name"><%= user.username %></span>
        <a href="/auth/logout" id="logout-link">Logout</a>
    </div>
</div>
